.numero{

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: solid $green 8px;
    margin-top: -5rem;
    left: 50%;
    translate: -50%;
    background-color: $violet;
    color: white;
}

@media (min-width: 768px) {
    .numero{
        left: auto;
        margin-left: 11%;
    }
    .workCard{
        height: max-content;
    }
}

