.discover-1{
    opacity: 0;
    animation: text-display 1s forwards;
    animation-delay: 4000ms;
}

.discover-2{
    opacity: 0;
    animation: text-display 1s forwards;
    animation-delay: 4700ms;
}

.discover-3{
    opacity: 0;
    animation: text-display 1s forwards;
    animation-delay: 5400ms;
}