$green : #1CFFA0;
$violet : #6c5a75;
$dark : #170022;


@import "./Header/Header";
@import "./Main/ContactMe/ContactMe";
@import "./Main/HomePage/HomePage";
@import "./Main/SkillsPage/SkillsPage";
@import "./Main/WorkPage/WorkPage";
@import "./DarkMode"



