.link {
  color: #1CFFA0;
  cursor: pointer;
  transition: 300ms;
}
.link:hover {
  scale: 1.1;
}

.linkDrop {
  padding-right: 5px;
  margin-top: 5px;
  background-color: #6c5a75;
  border: solid #1CFFA0 2px;
  font-size: 1.3rem;
  color: #1CFFA0;
  cursor: pointer;
  transition: 300ms;
}
.linkDrop:hover {
  scale: 1.2;
  translate: -20px;
}

.dropDown {
  right: -120%;
  top: 120%;
  transition: 500ms;
}

.open {
  right: 0;
}

.bio {
  background-color: #E5DAEA;
}

.Id-Card {
  background-color: #6c5a75;
}

.name {
  color: white;
}
.name > h1 {
  font-weight: bold;
}
.name > h2 {
  font-weight: 500;
}

.social-list {
  width: 1.5rem;
}

.social-link:hover > svg {
  transition: 200ms;
  scale: 1.1;
}
.social-link:hover > svg > path {
  fill: rgb(255, 238, 126);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.589);
}

.QrWhatsapp {
  margin: auto;
  width: 70%;
}

@media (min-width: 768px) {
  .QrWhatsapp {
    margin: auto;
    width: 16rem;
    height: 30rem;
  }
}
.Stars > svg {
  transition: 400ms;
}
.Stars > svg:hover {
  scale: 1.2;
  fill: #6c5a75;
}
.Stars > svg > path {
  cursor: pointer;
}

.foot {
  padding-bottom: 1rem;
  position: static;
  background-color: #6c5a75;
  place-self: end;
  justify-content: space-around;
}
.foot > div {
  margin-top: 1rem;
}
.foot > div > h1 {
  font-weight: 500;
  font-size: 1rem;
}

.discover-1 {
  opacity: 0;
  animation: text-display 1s forwards;
  animation-delay: 4000ms;
}

.discover-2 {
  opacity: 0;
  animation: text-display 1s forwards;
  animation-delay: 4700ms;
}

.discover-3 {
  opacity: 0;
  animation: text-display 1s forwards;
  animation-delay: 5400ms;
}

.scroll-button {
  rotate: y 90deg;
  animation: fall 2s forwards;
  animation-delay: 6s;
  left: 50%; /* Centre horizontal */
  transform: translate(-50%);
}

@keyframes fall {
  0% {
    opacity: 0;
    rotate: y 90deg;
  }
  100% {
    opacity: 1;
    rotate: y 0deg;
  }
}
.violet {
  margin-top: -1rem;
  background-color: #6c5a75;
  animation: bars-violet 2s forwards;
  animation-delay: 1s;
}

.welcomeRuban_green {
  background-color: #1CFFA0;
  animation: bars-green 2.5s forwards;
  animation-delay: 1s;
}

.worldRuban_green {
  background-color: #1CFFA0;
  animation: bars-green 2.5s forwards;
  animation-delay: 1s;
}

.text-welcome {
  opacity: 0;
  margin-bottom: -1.5rem;
  position: relative;
  z-index: 20;
  animation: text-display 1s forwards;
  animation-delay: 3s;
}

@keyframes bars-violet {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes bars-green {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes text-display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .text-welcome {
    font-size: 2rem;
    margin-bottom: -1.2rem;
  }
  @keyframes bars-violet {
    0% {
      width: 0;
    }
    100% {
      width: 65%;
    }
  }
  @keyframes bars-green {
    0% {
      width: 0;
    }
    100% {
      width: 68%;
    }
  }
}
.circle-shadow {
  background-color: rgb(186, 255, 232);
  box-shadow: inset 2px 2px 7px -2px;
}

.circle-image {
  background-color: white;
  box-shadow: 2px 2px 7px -2px;
}

.circle-white {
  position: relative;
  z-index: 3;
}

.circle-1 > .circle-container {
  animation: circle-1Animation 5s infinite 1s alternate ease-in-out;
}
.circle-1 > .circle-container > p {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  translate: 60%;
  animation: circle-1Animation-text 5s infinite 1s alternate ease-in-out;
  animation-delay: 1s;
}
.circle-1 > .circle-container > .circle-white > .circle-shadow > .circle-image {
  animation: circle-1Animation-rotate 2s infinite linear;
}
.circle-1 > .circle-container > .circle-white > .circle-shadow > .circle-image > img {
  src: "../../../Assets/Icons/png/figma.png";
}

.circle-2 > .circle-container {
  animation: circle-2Animation 6s infinite alternate ease-in-out;
}
.circle-2 > .circle-container > p {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  translate: -120%;
  animation: circle-2Animation-text 6s infinite alternate ease-in-out;
}
.circle-2 > .circle-container > .circle-white > .circle-shadow > .circle-image {
  animation: circle-3Animation-rotate 5s infinite linear alternate-reverse;
}

.circle-3 > .circle-container {
  animation: circle-3Animation 10s infinite 3s alternate ease-in-out;
}
.circle-3 > .circle-container > p {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  translate: 60%;
  animation: circle-1Animation-text 10s infinite ease-in-out;
  animation-direction: alternate;
  animation-delay: 3s;
}
.circle-3 > .circle-container > p::after {
  content: "abcdefg";
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  display: none;
}
.circle-3 > .circle-container > .circle-white > .circle-shadow > .circle-image {
  transform: matrix3d(10);
  animation: circle-3Animation-rotate 5s infinite linear alternate-reverse;
  animation-delay: 3s;
}

@keyframes circle-1Animation {
  0% {
    margin-left: 1.5rem;
  }
  30% {
    width: auto;
    margin-left: 1.5rem;
  }
  70% {
    margin-left: 75%;
  }
  100% {
    margin-left: 75%;
  }
}
@keyframes circle-1Animation-rotate {
  0% {
    rotate: 0;
    box-shadow: 2px 2px 7px -2px;
  }
  100% {
    rotate: 1 3 1 360deg;
    box-shadow: 2px 2px 7px -2px;
  }
}
@keyframes circle-1Animation-text {
  0% {
    translate: 60%;
  }
  30% {
    translate: 60%;
  }
  70% {
    translate: -120%;
  }
  100% {
    translate: -120%;
  }
}
@keyframes circle-2Animation {
  0% {
    margin-left: 73%;
  }
  30% {
    width: auto;
    margin-left: 73%;
  }
  70% {
    margin-left: 10%;
  }
  100% {
    margin-left: 10%;
  }
}
@keyframes circle-2Animation-text {
  0% {
    translate: -120%;
  }
  30% {
    translate: -120%;
  }
  70% {
    translate: 100%;
  }
  100% {
    translate: 100%;
  }
}
@keyframes circle-2Animation-rotate {
  0% {
    rotate: 0;
    box-shadow: 2px 2px 7px -2px;
  }
  100% {
    rotate: 3 2 3 360deg;
    transform: scale(1.1);
    box-shadow: 2px 2px 7px -2px;
  }
}
@keyframes scale {
  0% {
    scale: 1;
  }
  100% {
    scale: 2;
  }
}
@keyframes circle-3Animation {
  0% {
    margin-left: 2.5rem;
  }
  30% {
    width: auto;
    margin-left: 2.5rem;
  }
  70% {
    margin-left: 70%;
  }
  100% {
    margin-left: 70%;
  }
}
@keyframes circle-3Animation-rotate {
  0% {
    rotate: 0;
    box-shadow: 2px 2px 7px -2px;
  }
  100% {
    rotate: 1 2 1 360deg;
    box-shadow: 2px 2px 7px -2px;
  }
}
.rubanSkills {
  width: 100%;
  background-color: #6c5a75;
}
.rubanSkillscenter {
  width: 100%;
  background-color: #1CFFA0;
}

.rubanStep {
  background-color: #6c5a75;
  width: 100%;
}

.numero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: solid #1CFFA0 8px;
  margin-top: -5rem;
  left: 50%;
  translate: -50%;
  background-color: #6c5a75;
  color: white;
}

@media (min-width: 768px) {
  .numero {
    left: auto;
    margin-left: 11%;
  }
  .workCard {
    height: -moz-max-content;
    height: max-content;
  }
}
/**.DarkMode{
    background-color: $dark;
    > div {
        > #discover, .ToMy, span{
            color: white;
        }
    }
}**//*# sourceMappingURL=Style.css.map */